@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Quicksand", sans-serif;
  color: #2f4f4f;
  background-color: #f5fffa;
  line-height: 1.6;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

button {
  font-family: "Quicksand", sans-serif;
  background-color: #8fbc8f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b8e23;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header-button {
  padding: 0em 0.5em;
  border-radius: 0;
  border-bottom: 1px solid #2f4f4f;
  background-color: transparent;
  cursor: pointer;
  margin: 0 0 1px 0;
  color: #2f4f4f;
}

.header-button:hover {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 2px solid #2f4f4f;
  margin: 0;
}

.header-button:focus,
.header-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.active {
  border-color: transparent;
  border-bottom: 2px solid #2f4f4f;
  margin: 0;
}

.map-container {
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid transparent;
}

.info-box {
  margin: 0 0 0 10px;
  border-radius: 15px;
  padding: 0 1em;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
  transition: transform 0.25s, box-shadow 0.25s;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  justify-content: center;
}

.info-card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  max-width: 200px;
  transition: transform 0.25s, box-shadow 0.25s;
}

.info-image {
  display: block;
  width: 100%;
  border-radius: 15px 15px 0 0;
  transition: transform 0.25s, box-shadow 0.25s;
}

.info-card-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  color: #000;
}

.info-card.expanded {
  position: fixed;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  width: auto;
  max-width: none;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.info-card-content {
  margin: 1em;
  line-height: 1.5;
}
.info-card-content p {
  margin: 0.25em 0;
}
